<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @app.app_id %>
</p>

<p>
  <strong>Gcm:</strong>
  <%= @app.gcm_id %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
