<p id="notice"><%= notice %></p>

<p>
  <strong>App:</strong>
  <%= @message.app_id %>
</p>

<p>
  <strong>Json:</strong>
  <%= @message.json %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
